.main
  .main__post
    .main__post__cate
      .main__post__cate__li
        - @tags.each do |tag|
          .main__post__cate__li__i
            ＃
            = link_to edit_tag_path(tag.id), class:"main__post__cate__li__i" do
              = tag.title

      .main__post__cate__edit
        = link_to new_tag_path, class: "main__post__cate__edit__i" do
          %i.fas.fa-plus-circle
    = render "post"

  .main__form
    = render "/posts/form"