- @posts.each do |post|
  .main__post__a
    .main__post__a__img
      = image_tag 'test.jpg', :size =>'60x60', class: "main__post__a__img__i", alt: 'icon'
    .main__post__a__content
      .main__post__a__content__info
        .main__post__a__content__info__top
          .main__post__a__content__info__top__name
            = post.user.name
          .main__post__a__content__info__top__time
            = post.created_at.to_s(:datetime_jp)
        .main__post__a__content__info__edit
          %i.fas.fa-bars
      .main__post__a__content__text
        = post.content
        = image_tag post.image.url, class: 'main__post__a__content__text__image' if post.image.present?
      .main__post__a__content__category
        .main__post__a__content__category__li
          ＃日常
        .main__post__a__content__category__li
          ＃プログラミング
        .main__post__a__content__category__li
          ＃英語
      .main__post__a__content__bottom
        .main__post__a__content__bottom__time
          %i.fas.fa-clock.main__post__a__content__bottom__time--e
            ：
          %i.fas.fa-play.main__post__a__content__bottom__time--g
          %i.fas.fa-stop.main__post__a__content__bottom__time--r
          %i.fas.fa-pen.main__post__a__content__bottom__time--e
        .main__post__a__content__bottom__complete
          完了