.side-bar
  .side-bar__user
    .side-bar__user__img
      = image_tag 'test.jpg', :size =>'80x80', alt: 'img'
    .side-bar__user__name
      .side-bar__user__name__n
        = current_user.name
  .side-bar__profile
    .side-bar__profile__label
      profile
      = link_to edit_user_path(current_user), class: "side-bar__user__name__n" do
        %i.fas.fa-edit
    .side-bar__profile__text
      .side-bar__profile__text__content
        プロフィール８０字！プロフィール８０字！プロフィール８０字！プロフィール８０字！プロフィール８０字！プロフィール８０字！プロフィール８０字！プロフィール８０字！
  .side-bar__menu
    .side-bar__menu__list
      %li.side-bar__menu__list__li
        .side-bar__menu__list__li__name
          = link_to "#", class: "side-bar__menu__list__li__name__l" do
            タグ別ツイートの表示
        .side-bar__menu__list__li__img
          %i.fas.fa-angle-right
      %li.side-bar__menu__list__li
        .side-bar__menu__list__li__name
          = link_to "#", class: "side-bar__menu__list__li__name__l" do
            完了したツイート
        .side-bar__menu__list__li__img
          %i.fas.fa-angle-right